body
{
    background-color: skyblue;
}

#header
{
    border: solid;
    height: 20vh;
    margin : auto;
    width: 80vw;
}
#body
{
    border: solid;
    height: 40vh;
    margin : auto;
    width: 80vw;
}
#footer
{
    border: solid;
    height: 30vh;
    margin : auto;
    width: 80vw;
}